[submodule "hiredis"]
	path = hiredis
	url = https://github.com/redis/hiredis.git
[submodule "ArduinoJson"]
	path = ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson
[submodule "seasocks"]
	path = seasocks
	url = https://github.com/mattgodbolt/seasocks
[submodule "limero"]
	path = limero
	url = https://github.com/vortex314/limero
